<template>
    <div>
        <H1>About Us Page</H1>

        <button @click="goToHome">Go to home</button>
    </div>
</template>
<script>

    export default {
        methods: {
            goToHome() {
                setTimeout(() => this.$router.push('/'), 1000)
            }
        }
    }
</script>