<template>
  <div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <router-link class="nav-link" to="/">Home</router-link>
        </li>

        <li class="nav-item">
          <router-link class="nav-link" to="/about">About</router-link>
        </li>

        <li class="nav-item">
          <router-link class="nav-link" to="/users">Users</router-link>
        </li>

    </ul>
  </div>

</template>
<script>
  export default {
    name: "NavBar"
  }
</script>